<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- 
        <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/juanluelguerre/index.json" />
        <add key="templates" value="https://pkgs.dev.azure.com/JuanluElGuerre/elGuerre/_packaging/templates/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="juanluelguerre" />
            <add key="ClearTextPassword" value="xxx" />            
        </github>
        <templates>
            <add key="Username" value="VssSessionToken" />
            <add key="ClearTextPassword" value="xxx" />
        </templates>
    </packageSourceCredentials>
    -->
</configuration>